@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300&display=swap');
.navbar {
  background-color: transparent;
  transition: background-color 0.5s ease-in-out;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: 'Playpen Sans', cursive;
}

/* Style for the navbar when scrolled */
.navbar.scrolled {
  background-color: #0f172a; /* Change this to your desired color */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  color: white !important;
  font-family: 'Playpen Sans', cursive;
}

.drawer3 {
  width: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  /* background-color: hsl(0, 0%, 20%); */
  background-color: #0f172a;
  color: white;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.3s;
  /* color: black; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.drawer3.open {
  width: 300px;
  height: 100vh;
  overflow-y: hidden;
}
